@page
@model Jayvankal.Views.Shared._FooterPartialModel

<footer id="footer" class="footer divider" style="background-color:#08335E">
    <div class="container pt-70 pb-40">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <img class="mt-5 mb-20" alt="" style="height:auto" src="images/logo-white-footer.png" width="300" height="47">
                    <p class="text-white">
                        જય વાંકલ ટ્યુશન કલાસીસ એટલે શિક્ષણ દ્વારા સમાજકલ્યાણ. <span class="text-english">14</span>
                        વર્ષોથી શિક્ષણરૂપી સમાજોદ્ધારમાં કાર્યરત અમારી
                        સંસ્થા આજ સુધી <span class="text-english">
                            3000
                        </span> થી પણ વધુ વિદ્યાર્થીઓનું જવાબદાર અને સક્ષમ નાગરિકોરૂપે ઘડતર કરી દેશની આર્થિક
                        ઉન્નતિમાં ભાગીદાર એવા આદર્શ વ્યવસાયિકોરૂપી ભેંટ આ સમાજને તથા દેશને આપ્યાનો ગર્વ અનુભવે છે.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title line-bottom-theme-colored-2 text-english">QUICKLINKS</h4>
                    <ul class="angle-double-right list-border">
                      
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="AboutUs">કલાસીસ વિશે</a>

                        </li>
                      
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Facilities">ફેસિલિટીઝ</a>

                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="TeachingMethod">શિક્ષણપદ્ધતિ</a>

                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Testimonials">ટેસ્ટિમોનિઅલ્સ</a>


                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Culture">કલ્ચર</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title line-bottom-theme-colored-2">કોર્સીસ</h4>
                    <div class="latest-posts">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a class="post-thumb" href="/Courses">
                                <img src="/images/course/std-11-12.jpg" width="80" height="55" alt="ટ્યુશન કલાસીસ" title="ટ્યુશન કલાસીસ" />
                            </a>
                            <div class="post-right">
                                <h5 class="post-title mt-0 mb-5 text-white"><a href="/Courses">ટ્યુશન કલાસીસ</a></h5>
                                <p class="post-date mb-0 font-12 text-white-f1">
                                    ધોરણ <span class="text-english">1</span> થી <span class="text-english">10</span>, <span class="text-english">11-12</span> કોમર્સ અને <span class="text-english">B. Com.</span>
                                </p>
                            </div>
                        </article>
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a class="post-thumb" href="/Courses">
                                <img src="/images/course/computer-classes.jpg" width="80" height="55" alt="કમ્પ્યુટર કલાસીસ" title="કમ્પ્યુટર કલાસીસ" />
                            </a>
                            <div class="post-right">
                                <h5 class="post-title mt-0 mb-5 text-white"><a href="/Courses">કમ્પ્યુટર કલાસીસ</a></h5>
                                <p class="post-date mb-0 font-12 text-white-f1"> <span class="text-english"> Tally, CCC</span> અને ઈન્ટરનેટ/સોશિયલ મીડિયા </p>
                            </div>
                        </article>
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a class="post-thumb" href="/Courses">
                                <img src="/images/course/vacation-batch.jpg" width="80" height="55" alt="વેકેશન બેચ" title="વેકેશન બેચ" />
                            </a>
                            <div class="post-right">
                                <h5 class="post-title mt-0 mb-5 text-white"><a href="/Courses">વેકેશન બેચ</a></h5>
                                <p class="post-date mb-0 font-12 text-white-f1">દર વર્ષે વેકેશનમાં <span class="text-english">  Mathematics</span> અને<span class="text-english">  Accounting</span> ની ફ્રી બેચ</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title line-bottom-theme-colored-2 text-english">GET IN TOUCH</h4>
                    <p class="text-white">
                        <span class="text-english">22/23</span> ભક્તિનગર, વિજલપોર, નવસારી
                    </p>
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10 text-english"> <i class="text-white fa fa-phone mr-5"></i> <a target="_blank" class="text-white" href="tel:9998319300">9998319300</a>, <a class="text-white" href="tel:02637-280122">02637-280122</a> </li>
                        <li class="m-0 pl-10 pr-10 text-english"> <i class="text-white fa fa-envelope-o mr-5"></i> <a target="_blank" class="text-white" href="mailto:jayvankaledu2017@gmail.com">jayvankaledu2017@gmail.com</a> </li>
                        <li class="m-0 pl-10 pr-10 text-english"> <i class="text-white fa fa-globe mr-5"></i> <a target="_blank" class="text-white" href="http://www.jayvankal.com">www.jayvankal.com</a> </li>
                    </ul>
                    <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10">
                        <li><a target="_blank" href="https://www.facebook.com/jayvankal.edu"><i class="text-white fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/Maheshpurohit6"><i class="text-white fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCbhUQEsOnvxOTuO7rPp9bWQ"><i class="text-white fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" data-bg-color="#1F8FFF">
        <div class="container pt-20 pb-20">
            <div class="row hidden-xs">
                <div class="col-md-6">
                    <p class="font-12 m-0 text-white text-english text-uppercase">Copyright &copy;2023 Jay Vankal Tuition Classes. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline mt-5 font-12">
                            <li class="text-white text-english text-uppercase">
                                Design &amp; Content By: <a href="https://www.shakunsoft.com/" class="text-white" target="_blank">Shakunsoft </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="col-md-12">
                    <p class="font-12 m-0 text-white text-english text-center text-uppercase">
                        Copyright &copy;2023 Jay Vankal Tuition Classes. All Rights Reserved.
                        <br /> Design &amp; Content By: <a href="https://www.shakunsoft.com/" class="text-white" target="_blank">Shakunsoft </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

