<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jay Vankal Tuition Classes &ndash; હોમપેજ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jayvankal.styles.css" asp-append-version="true" />
    <base href="/" />

    <meta name="robots" content="noodp" />
    <meta name="author" content="Shakunsoft" />


    <meta name="description" content="જય વાંકલ ટ્યુશન કલાસીસ - ધો. 1 થી 10, 11-12 કોમર્સ, B. Com. (Eng. અને Guj. મીડિયમ), કમ્પ્યુટર કલાસીસ" />
    <meta Property="og:locale" content="en_US" />
    <meta Property="og:type" content="article" />
    <meta Property="og:title" content="હોમપેજ &ndash; Jay Vankal Tuition Classes" />
    <meta Property="og:description" content="જય વાંકલ ટ્યુશન કલાસીસ - ધો. 1 થી 10, 11-12 કોમર્સ, B. Com. (Eng. અને Guj. મીડિયમ), કમ્પ્યુટર કલાસીસ" />
    <meta Property="og:url" content="http://jayvankal.shakunsoft.com/" />
    <meta Property="og:site_name" content="Jay Vankal Tuition Classes" />
    <meta Property="og:image" content="http://www.jayvankal.com/images/preview-site.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="જય વાંકલ ટ્યુશન કલાસીસ - ધો. 1 થી 10, 11-12 કોમર્સ, B. Com. (Eng. અને Guj. મીડિયમ), કમ્પ્યુટર કલાસીસ" />
    <meta name="twitter:title" content="હોમપેજ &ndash; Jay Vankal Tuition Classes" />
    <meta name="twitter:image" content="http://www.jayvankal.com/images/preview-site.png" />
    <meta property="fb:admins" content="100010039245044" />

    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/favicon.png" rel="icon" sizes="32x32" />
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="images/favicon-180x180.png" />
    <link rel="icon" href="images/favicon-192x192.png" sizes="192x192" />
    <meta name="msapplication-TileImage" content="images/favicon-270x270.png" />
    <link rel="icon" href="images/favicon-512x512.png" sizes="512x512" />
    <meta name="theme-color" content="#2F8EED">
    <link href="/css/jayvankal-min.css" rel="stylesheet" />
    <style type="text/css">
        .iconbox-border {
        }

        .icon-box:hover {
            background-color: #2F8EED;
            border: 1px solid #2F8EED !important;
        }

            .icon-box:hover img {
                filter: brightness(0) invert(1);
            }

            .icon-box:hover h4 {
                color: #FFF;
            }

            .icon-box:hover p {
                color: #FFF;
            }
    </style>
</head>
<body>
   

    <div id="wrapper" class="clearfix">
        <div id="preloader">
            <div id="spinner">
                <img alt="" src="images/preloaders/30.gif" height="20" width="160">
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>

        <header id="header" class="header">
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-white nav-lg">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord default no-bg">
                            <a class="menuzord-brand switchable-logo pull-left flip mt-20 pt-5" href="/">
                                <img class="logo-default" style="width:auto" width="300" height="47" src="images/logo-wide.png" alt="Jay Vankal Tuition Classes" title="Jay Vankal Tuition Classes">
                                <img class="logo-scrolled-to-fixed" style="width:auto" width="300" height="47" src="images/logo-wide.png" alt="Jay Vankal Tuition Classes" title="Jay Vankal Tuition Classes">
                            </a>
                            <ul class="menuzord-menu menuzord-right menuzord-indented scrollable">
                                <li >
                                    <a asp-area="" asp-controller="Home" asp-action="Index" >હોમપેજ</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="AboutUs" >કલાસીસ વિશે</a>

                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Courses" >કોર્સીસ</a>

                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Facilities" >ફેસિલિટીઝ</a>

                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="TeachingMethod" >શિક્ષણપદ્ધતિ</a>

                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Testimonials" >ટેસ્ટિમોનિઅલ્સ</a>


                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Culture">કલ્ચર</a>

                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Admission" class="text-english" >CONTACT US</a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>






        <div class="main-content">

            @RenderBody()


        </div>

        @{
            Html.RenderPartial("_FooterPartial");
        }

        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>

    <script src="/js/jayvankal-min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

