@{
    ViewData["Title"] = "About Us";
}
<div class="main-content">
    <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg/bg3.jpg">
        <div class="container pt-120 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-theme-colored2 font-36">કલાસીસ વિશે</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">હોમપેજ</a></li>
                            <li class="active">કલાસીસ વિશે</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container pt-70 pb-40">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-uppercase mt-0"><span class="text-english">About</span> <span class="text-theme-colored2">જય વાંકલ ટ્યુશન કલાસીસ</span></h3>
                        <div class="double-line-bottom-theme-colored-2"></div>
                        <p class="mt-20">
                            જય વાંકલ ટ્યુશન કલાસીસ એટલે શિક્ષણ દ્વારા સમાજકલ્યાણ.
                            જય વાંકલ ટ્યુશન કલાસીસ એ બાલમંદિર, ધોરણ <span class="text-english">1</span> થી લઈને ધોરણ <span class="text-english">10</span>,
                            ધોરણ <span class="text-english">11</span>-<span class="text-english">12</span> કોમર્સ અને બી. કોમ. સુધીના શાળાકીય
                            અભ્યાસક્રમો તથા <span class="text-english">CCC</span>, <span class="text-english">Tally</span> અને ઈન્ટરનેટ, સોશિયલ મીડિયા જેવા કોર્સીસ દ્વારા
                            કમ્પ્યુટરનું શિક્ષણ આપતી, તજજ્ઞ શિક્ષકો અને શિક્ષણવિદ નિષ્ણાતો દ્વારા સંચાલિત, ઈ-લર્નિંગ સુવિધાથી સસજ્જ; <span class="text-english">1200</span> થી વધુ
                            પુસ્તકો ધરાવતી લાયબ્રેરી, વાય-ફાય, એસી ક્લાસરૂમ જેવી અદ્યતન સગવડો વચ્ચે નિગનાત્મ્ક અને આગમનાત્મ્કપદ્ધતિ દ્વારા શિક્ષણ આપતી નવસારીની એકમાત્ર સંસ્થા છે.

                        </p><p>
                            <span class="text-english">14</span>
                            વર્ષોથી શિક્ષણરૂપી સમાજોદ્ધારમાં કાર્યરત અમારી
                            સંસ્થા આજ સુધી <span class="text-english">
                                3000
                            </span> થી પણ વધુ વિદ્યાર્થીઓનું જવાબદાર અને સક્ષમ નાગરિકોરૂપે ઘડતર કરી દેશની આર્થિક
                            ઉન્નતિમાં ભાગીદાર એવા આદર્શ વ્યવસાયિકોરૂપી ભેંટ આ સમાજને તથા દેશને આપ્યાનો ગર્વ અનુભવે છે.
                        </p>
                        <a asp-area="" asp-controller="Home" asp-action="Admission" class="btn btn-colored btn-theme-colored2 text-white btn-lg pl-40 pr-40 mt-15 text-english">ADMISSION</a>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/about-jayvankal.jpg" width="555" height="287" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="divider parallax layer-overlay overlay-white-8" data-bg-img="images/bg/bg2.jpg" data-parallax-ratio="0.7">
        <div class="container pt-90 pb-90">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="funfact">
                        <i class="pe-7s-albums text-black-light mt-20 font-48 pull-left flip"></i>
                        <div class="ml-60">
                            <h2 class="animate-number text-theme-colored mt-0 mb-10 font-48 line-bottom text-english" data-value="14" data-animation-duration="2000">0</h2>
                            <div class="clearfix"></div>
                            <h4 class="font-14">વર્ષોનો બહોળો અનુભવ</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="funfact">
                        <i class="pe-7s-keypad text-black-light mt-20 font-48 pull-left flip"></i>
                        <div class="ml-60">
                            <h2 class="animate-number text-theme-colored mt-0 mb-10 font-48 line-bottom text-english" data-value="3000" data-animation-duration="2000">0</h2>
                            <div class="clearfix"></div>
                            <h4 class="font-14">સ્ક્વેર ફીટમાં પથરાયેલું કલાસીસ</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="funfact">
                        <i class="pe-7s-piggy text-black-light mt-20 font-48 pull-left flip"></i>
                        <div class="ml-60">
                            <h2 class="animate-number text-theme-colored mt-0 mb-10 font-48 line-bottom text-english" data-value="3000" data-animation-duration="2000">0</h2>
                            <div class="clearfix"></div>
                            <h4 class="font-14">વિદ્યાર્થીઓનું ઘડતર</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="funfact">
                        <i class="pe-7s-notebook text-black-light mt-20 font-48 pull-left flip"></i>
                        <div class="ml-60">
                            <h2 class="animate-number text-theme-colored mt-0 mb-10 font-48 line-bottom text-english" data-value="1200" data-animation-duration="2000">0</h2>
                            <div class="clearfix"></div>
                            <h4 class="font-14">પુસ્તકો ધરાવતી વિશાળ લાયબ્રેરી</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="funfact">
                        <i class="pe-7s-users text-black-light mt-20 font-48 pull-left flip"></i>
                        <div class="ml-60">
                            <h2 class="animate-number text-theme-colored mt-0 mb-10 font-48 line-bottom text-english" data-value="850" data-animation-duration="2000">0</h2>
                            <div class="clearfix"></div>
                            <h4 class="font-14">હાલમાં ભણી રહેલાં વિદ્યાર્થીઓ</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="funfact">
                        <i class="pe-7s-network text-black-light mt-20 font-48 pull-left flip"></i>
                        <div class="ml-60">
                            <h2 class="animate-number text-theme-colored mt-0 mb-10 font-48 line-bottom text-english" data-value="12" data-animation-duration="2000">0</h2>
                            <div class="clearfix"></div>
                            <h4 class="font-14">શિક્ષકો દ્વારા કાર્યરત</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container pt-70 pb-40">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase mt-0"><span class="text-english">Philosophy</span> <span class="text-theme-colored2">ફિલોસોફી</span></h3>
                        <div class="double-line-bottom-theme-colored-2 mb-20"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box iconbox-border p-40">
                            <div class="font-icon-detail">
                                <span class="pe-7s-diamond text-theme-colored" style="font-size:72px;"></span>
                            </div>
                            <h3 class="text-uppercase mt-0"><span class="text-english text-theme-colored">Values</span></h3>
                            <div class="double-line-bottom-theme-colored-2"></div>

                            <p class="mt-20">
                                અમેરિકાના મહાત્મા ગાંધી કહેવાતા સમાજસેવક અને નોબેલ પ્રાઈઝ વિજેતા માર્ટીન લ્યૂથર કિંગ એ કીધું છે કે શિક્ષણ પાછળ કરેલું ઇન્વેસ્ટમેન્ટ
                                એ આ દુનિયામાં સૌથી સારું વળતર આપે છે. જય વાંકલ ટ્યુશન કલાસીસ એ વાલીશ્રીઓએ પોતાના બાળકોના શિક્ષણ પાછળ કરેલા ઇન્વેસ્ટમેન્ટનું
                                તેમના બાળકોને માત્ર શાળાકીય પરીક્ષાઓ જ નહિ, પરંતુ જીવનની દરેક કસોટીઓમાં ઝળહળતી સફળતા મેળવવાચાવીરૂપ પથ્માર્ગ શોધતાં શીખવાડીને
                                અને તેમની ઉચ્ચ કારકિર્દીનું નિર્માણ કરીને વળતર આપે છે.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="icon-box iconbox-border p-40">
                            <div class="font-icon-detail">
                                <span class="pe-7s-look text-theme-colored" style="font-size:72px;"></span>
                            </div>
                            <h3 class="text-uppercase mt-0"><span class="text-english text-theme-colored">Vision</span></h3>
                            <div class="double-line-bottom-theme-colored-2"></div>

                            <p class="mt-20">
                                જયારે પૃથ્વી પર માણસો નહોતાં; ત્યારે 'શક્તિ' એટલે કે 'તાકાત' એ સત્તાનું કેન્દ્ર હતી. એટલે કે જે-તે સમયે જે-તે સ્થળે જે પરની સૌથી વધુ શક્તિશાળી હોય,
                                આધિપત્ય એનું જ હોય. આજે માણસે સજીવસૃષ્ટિમાં 'શક્તિ' ને બદલે 'બુદ્ધિ' ને સત્તાનું કેન્દ્ર બનાવી દીધું છે . માણસે બુદ્ધિ એટલે કે જ્ઞાનને કેન્દ્રબિંદુ બનાવી જે
                                સમાજવ્યવસ્થા અને અર્થવ્યવસ્થા ઘડી છે, એ વ્યવસ્થામાં પોતાનું અસ્તિત્વ ટકાવી રાખવા માણસ માટે સૌથી જરૂરી છે 'બૌદ્ધિક વિકાસ' અને શિક્ષણનું બીજું નામ એટલે જ
                                'બૌદ્ધિક વિકાસ અને ઘડતર'.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="icon-box iconbox-border p-40">
                            <div class="font-icon-detail">
                                <span class="pe-7s-target text-theme-colored" style="font-size:72px;"></span>
                            </div>
                            <h3 class="text-uppercase mt-0"><span class="text-english text-theme-colored">Mission</span></h3>
                            <div class="double-line-bottom-theme-colored-2"></div>

                            <p class="mt-20">
                                "સમાજના સામૂહિક બૌદ્ધિક વિકાસ" ને પોતાની નૈતિક ફરજ માનતી અમારી સંસ્થા એ વેપાર કરવા માટે વિદ્યાર્થીઓને
                                શિક્ષણ નથી આપતી. અમે તદ્દન વાજબી ફી લઈને વિદ્યાર્થીઓને શિક્ષણ એટલા માટે આપીએ છીએ કારણ કે "શિક્ષણ દ્વારા
                                આદર્શ રાષ્ટ્રનું ઘડતર કરવું" &ndash; એ જ અમારું મિશન છે. અન્ય ટ્યુશન-કોચિંગ કલાસીસની કેમ અમે માત્ર હોંશિયાર વિદ્યાર્થીઓને
                                નથી શોધતાં. અમે અમારી સંસ્થામાં શિક્ષણ મેળવનાર વિદ્યાર્થીઓની અંદર રહેલી છોપ્પી શક્તિઓને બહાર
                                લાવી એમના ભાવિનું ઘડતર કરીએ છીએ.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>