@{
    ViewData["Title"] = "Courses";
}
<div class="main-content">
    <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg/bg3.jpg">
        <div class="container pt-120 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-theme-colored2 font-36">કોર્સીસ</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">હોમપેજ</a></li>
                            <li class="active">કોર્સીસ</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">
                        અમારી પાસે ભણતા વિદ્યાર્થીનું અમારી સંસ્થા સાથે એક સામંજસ્ય બંધાઈ જાય છે. અમારા જ્ઞાનલક્ષી કલ્ચરમાં ઘડાયેલાં બાળકે અભ્યાસમાં આગળ વધતાં અમારી શૈક્ષણિક સંસ્થાને છોડીબીજે ક્યાંય જવું ના પડે તે હેતુથી અમારે ત્યાં ધોરણ 1 થી માંડીને B. Com. સુધીનું અને સાથે-સાથે
                        કમ્પ્યુટરનું શિક્ષણ આપવામાં આવે છે.
                    </p>
                    <div class="double-line-bottom-theme-colored-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/std-1-8.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a href="/Courses">
                                    <h4 class="mt-0 mb-5 text-theme-colored">ધોરણ <span class="text-english">1</span> થી <span class="text-english">8</span></h4>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                પ્રાથમિક ધોરણો એટલે કે બાલમંદિર અને ધોરણ <span class="text-english">
                                    1
                                </span> થી <span class="text-english">
                                    8
                                </span> માં અભ્યાસક્રમના તમામ વિષયો
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/std-9-10.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a href="/Courses">
                                    <h4 class="mt-0 mb-5 text-theme-colored">ધોરણ <span class="text-english">9</span> અને <span class="text-english">10</span></h4>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                ધોરણ <span class="text-english">
                                    9
                                </span> અને <span class="text-english">
                                    10
                                </span> માં મુખ્ય વિષયો ગણિત, વિજ્ઞાન, અંગ્રેજી અને સમાજશાસ્ત્ર તેમજ ગુજરાતી અને સંસ્કૃત વ્યાકરણ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/std-11-12.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a href="/Courses">
                                    <h4 class="mt-0 mb-5 text-theme-colored">ધોરણ <span class="text-english">11</span> અને <span class="text-english">12</span></h4>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                ધોરણ <span class="text-english">
                                    11
                                </span> અને <span class="text-english">
                                    12
                                </span> કોમર્સના મુખ્ય વિષયો: વાણિજ્ય વ્યવસ્થા, અર્થશાસ્ત્ર, નામાનાં મૂળતત્વો, આંકડાશાસ્ત્ર અને અંગ્રેજી
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/b-com.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a href="/Courses">
                                    <h4 class="mt-0 mb-5 text-theme-colored"><span class="text-english">B. Com. (ENG &amp; GUJ MEDIUM)</span></h4>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                B. Com. ત્રણેય વર્ષો માટે નામાનાં મૂળતત્વો (<span class="text-english">Accounts</span>), આંકડાશાસ્ત્ર (<span class="text-english">Statistics</span>) અને
                                <span class="text-english">English</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/computer-classes.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a href="/Courses">
                                    <h4 class="mt-0 mb-5 text-theme-colored">કમ્પ્યુટર કલાસીસ</h4>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                અત્યાધુનિક કમ્પ્યુટર લેબમાં <span class="text-english">Tally</span>, <span class="text-english">CCC</span> (સરકાર માન્ય), ઈન્ટરનેટ અને સોશિયલ મીડિયાનું પાયાથી શિક્ષણ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/vacation-batch.jpg">
                            <div class="price-tag">Free</div>
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a href="/Courses">
                                    <h4 class=" text-theme-colored mt-0 mb-5">ફ્રી વેકેશન બેચ</h4>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                દર વર્ષે વેકેશનમાં ધો. <span class="text-english">10</span> માટે <span class="text-english">Basic Mathematics</span> અને <span class="text-english">B. Com.</span> માટે <span class="text-english">Basic Accountancy</span>                                            ની ફ્રી વેકેશન બેચ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
