@{
    ViewData["Title"] = "Facilities";
}
<div class="main-content">
    <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg/bg3.jpg">
        <div class="container pt-120 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-theme-colored2 font-36">ફેસિલિટીઝ</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">હોમપેજ</a></li>
                            <li class="active">ફેસિલિટીઝ</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-20">
                        અમારા વિદ્યાર્થીઓને આજના આધુનિક સમયને અનુરૂપ ઉત્તમ કક્ષાનું શિક્ષણ મળી રહે તેમજ કારકિર્દી બનાવવા માટે પૂરતી સગવડો મળી રહે અને વિદ્યાર્થીઓ શાંતચિત્તે અભ્યાસમાં મન પરોવી શકે તે માટે અમારી સંસ્થા અમારા વિદ્યાર્થીઓને નીચે મુજબની સગવડો પ્રદાન કરે છે:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/001-wifi-signal-tower.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Wifi Campus</h4>
                        <p>ફાસ્ટ ઈન્ટરનેટ કનેક્ટિવિટી સાથે વાઇ-ફાઇ કેમ્પસ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/002-website.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Computer Lab</h4>
                        <p>કમ્પ્યુટરનું શિક્ષણ આપવા આધુનિક કમ્પ્યુટર લેબ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/003-air-conditioner.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">AC Classroom</h4>
                        <p>અનુકુળ વાતાવરણ માટે એરકંડિશન્ડ ક્લાસરૂમ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/004-projector.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Digital Learning</h4>
                        <p>પ્રોજેક્ટર અને સોફ્ટવેર દ્વારા ઓડિયો-વિડીયો લર્નિંગ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/005-open-book.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Reading Room</h4>
                        <p>પરીક્ષાની તૈયારી માટે રીડિંગ-રૂમ ફેસિલીટી (વાંચનખંડ)</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/006-checklist.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Weekly Test</h4>
                        <p>સમગ્ર ચેપ્ટરના અંતે પુનરાવર્તન અને અઠવાડિક ટેસ્ટ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/007-growth.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Progress Reports</h4>
                        <p>અટેન્ડંસ રજીસ્ટર અને પ્રોગ્રેસ કાર્ડ દ્વારા મેન્ટેનન્સ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/008-family.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Parents Meetings</h4>
                        <p>વાલીઓ સાથે વારંવાર પેરન્ટસ મિટિંગ્સ કરી પરીક્ષાલક્ષી ચર્ચાઓ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/009-care.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Personal Care</h4>
                        <p>દરેક વિદ્યાર્થી પર ટોપિક પૂરતું વ્યક્તિગત ધ્યાન</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/010-cctv.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">CCTV Installed</h4>
                        <p>તમામ વર્ગો અભ્યાસખંડો સીસીટીવી કેમેરાથી સસજ્જ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/011-smartphone.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">App/SMS Reporting</h4>
                        <p>વાલીઓને બાળકના રિપોર્ટ્સની એપ/SMS દ્વારા જાણ</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/012-ganesha.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Cultural Activities</h4>
                        <p>દર વર્ષે ગણેશચતુર્થી જેવા તહેવારોની સામૂહિક ઉજવણી</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/013-destination.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Education Tours</h4>
                        <p>દર વર્ષે વિવિધ સ્થળોએ યોજાતા શૈક્ષણિક પ્રવાસો</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box iconbox-border p-20 text-center">
                        <img src="/images/facilities/014-road-with-broken-line.png" width="64" height="64" />
                        <h4 class="icon-box-title text-english text-uppercase">Approachable</h4>
                        <p>શહેરની મધ્યે સ્થિત સંકુલમાં આસપાસના તમામ વિસ્તારોથી પહોંચવું સરળ</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
