@{
    ViewData["Title"] = "Home Page";
}




<section id="home">
    <div class="container-fluid p-0">

        <div id="rev_slider_home_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34" style="margin:0px auto; background-color:#ffffff; padding:0px; margin-top:0px; margin-bottom:0px;">
            <div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg12.jpg" data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="" data-description="">
                        <img src="images/bg/bg12.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4"
                             id="slide-1-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="500"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                        </div>
                        <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                             id="slide-1-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['195','195','160','170']"
                             data-fontsize="['58','48','42','36']"
                             data-lineheight="['75','65','55','50']"
                             data-fontweight="['800','700','700','700']"
                             data-textalign="['center','center','center','center']"
                             data-width="['700','650','600','420']"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                             data-start="600"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; font-weight:700;">
                            જય વાંકલ <span class="text-theme-colored2">ટ્યુશન કલાસીસ</span>
                        </div>
                        <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                             id="slide-1-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['275','260','220','220']"
                             data-fontsize="['16','16',18',16']"
                             data-lineheight="['24','24','24','24']"
                             data-fontweight="['400','400','400','400']"
                             data-textalign="['center','center','center','center']"
                             data-width="['800','650','600','460']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap;">
                            ધોરણ <span class="text-english">1</span> થી લઈને ધોરણ <span class="text-english">10</span>, ધોરણ <span class="text-english">11</span>-<span class="text-english">12</span> કોમર્સ અને બી. કોમ. સુધીનું <br> નિગનાત્મક અને આગમનાત્મક પદ્ધતિ દ્વારા શિક્ષણ આપતી નવસારીની એકમાત્ર સંસ્થા
                        </div>
                        <div class="tp-caption rs-parallaxlevel-0"
                             id="slide-1-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['350','330','290','290']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;"
                             data-mask_out="x:0;y:0;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15"asp-area="" asp-controller="Home" asp-action="AboutUs">વધુ જાણો</a>
                            <a class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30 text-english" asp-area="" asp-controller="Home" asp-action="Admission">ADMISSION</a>
                        </div>
                    </li>

                    <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg2.jpg" data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="" data-description="">
                        <img src="images/bg/bg2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4"
                             id="slide-2-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="500"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                        </div>
                        <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                             id="slide-2-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['195','195','160','170']"
                             data-fontsize="['58','48','42','36']"
                             data-lineheight="['70','60','50','45']"
                             data-fontweight="['800','700','700','700']"
                             data-textalign="['center','center','center','center']"
                             data-width="['800','750','700','520']"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                             data-start="600"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; font-weight:700;">
                            જય વાંકલ એટલે<span class="text-theme-colored2"> સંસ્કારોનું સિંચન</span>
                        </div>
                        <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                             id="slide-2-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['275','260','220','220']"
                             data-fontsize="['16','16',18',16']"
                             data-lineheight="['24','24','24','24']"
                             data-fontweight="['400','400','400','400']"
                             data-textalign="['center','center','center','center']"
                             data-width="['800','650','600','460']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap;">
                            જય વાંકલ ટ્યુશન કલાસીસ એ આદર્શ વિદ્યાર્થીઓની ધરૂવાડી છે. અમે દેશને માત્ર  <br> વ્યવસાયિકો જ નહિ, પરંતુ આદર્શ નાગરીકો આપીએ છીએ
                        </div>
                        <div class="tp-caption rs-parallaxlevel-0"
                             id="slide-2-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['350','330','290','290']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;"
                             data-mask_out="x:0;y:0;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15" asp-area="" asp-controller="Home" asp-action="TeachingMethod">વધુ જાણો</a>
                            <a class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30 text-english" asp-area="" asp-controller="Home" asp-action="Admission">ADMISSION</a>
                        </div>
                    </li>

                    <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg3.jpg" data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="" data-description="">
                        <img src="images/bg/bg3.jpg" alt="" data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4"
                             id="slide-3-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="500"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                        </div>
                        <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                             id="slide-3-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['195','195','160','170']"
                             data-fontsize="['58','48','42','36']"
                             data-lineheight="['70','60','50','45']"
                             data-fontweight="['800','700','700','700']"
                             data-textalign="['center','center','center','center']"
                             data-width="['800','750','700','520']"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                             data-start="600"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; font-weight:700;">
                            જય વાંકલ એટલે<span class="text-theme-colored2"> ઇનોવેશન</span>
                        </div>
                        <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                             id="slide-3-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['275','260','220','220']"
                             data-fontsize="['16','16',18',16']"
                             data-lineheight="['24','24','24','24']"
                             data-fontweight="['400','400','400','400']"
                             data-textalign="['center','center','center','center']"
                             data-width="['800','650','600','460']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap;">
                            જય વાંકલ એટલે કે જ્યાં દરેક વિદ્યાર્થી પર વ્યક્તિગત ધ્યાન આપીને દરેક ટોપિક ઊંડાણપૂર્વક  <br> શીખવાડી રિઝલ્ટ્સ લાવવામાં આવે અને એની કારકિર્દીનું ઘડતર કરવામાં આવે
                        </div>
                        <div class="tp-caption rs-parallaxlevel-0"
                             id="slide-3-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['350','330','290','290']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                             data-mask_in="x:0px;y:0px;"
                             data-mask_out="x:0;y:0;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15" asp-area="" asp-controller="Home" asp-action="TeachingMethod">વધુ જાણો</a>
                            <a class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30 text-english" asp-area="" asp-controller="Home" asp-action="Admission">ADMISSION</a>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(255, 255, 255, 0.2);"></div>
            </div>
        </div>


    </div>
</section>

<section class="layer-overlay overlay-theme-colored2-9 border-bottom" data-bg-img="images/bg/bg-pattern.png">
    <div class="container pt-20 pb-5">
        <div class="row">
            <div class="call-to-action">
                <form id="reservation_form" name="reservation_form" class="reservation-form mb-0" style="width:100%;" method="post" action="/InquiryReceived">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group mb-15">
                            <input name="reservation_email" class="form-control required" type="text" placeholder="નામ">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group mb-15">
                            <div class="styled-select">
                                <select id="car_select" name="car_select" class="form-control" required="">
                                    <option value="">- કોર્સ -</option>
                                    <option value="ધોરણ 1 થી 10">ધોરણ 1 થી 10</option>
                                    <option value="ધોરણ 11-12 કોમર્સ">ધોરણ 11-12 કોમર્સ</option>
                                    <option value="B. Com.">B. Com.</option>
                                    <option value="Computer Classes">કમ્પ્યુટર કલાસીસ</option>
                                    <option value="ફ્રી વેકેશન બેચ">ફ્રી વેકેશન બેચ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group mb-15">
                            <input placeholder="ફોન નં." type="text" id="reservation_phone" name="reservation_phone" class="form-control" required="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group mb-15 mt-0">
                            <button type="submit" class="btn btn-theme-colored btn-lg form-control">કોલબેક રિક્વેસ્ટ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-uppercase text-gray-darkgray mb-15">મહેશ પુરોહિત, સંસ્થાપક</h5>
                    <div class="double-line-bottom-theme-colored-2"></div>
                    <h3 class="font-weight-500 font-25 font- mt-10">બાળક એ પંખી સમાન છે. <span class="text-theme-colored"> તેનું આકાશ બનો</span> પીંજરું નહી</h3>
                    <p>
                        શિક્ષણ દ્વારા થતું ઘડતર એ વ્યક્તિગત નથી હોતું. શિક્ષણ દ્વારા થતું ઘડતર એ સામાજિક
                        હોય છે. જે રીતે ચોખાની ધરૂમાં મૂઠીભર ચોખાના દાણા હોય છે. પરંતુ પ્રત્યેક ચોખાનો
                        દાણો અનેક ચોખાના દાણા પેદા કરવા જેટલો સક્ષમ હોય છે. બિલકુલ એ જ રીતે જયારે
                        કોઈ વિદ્યાર્થીને સારું શિક્ષણ મળે છે, ત્યારે તેનાથી થતો લાભ જે-તે વિદ્યાર્થી પૂરતો સીમિત
                        નથી રહેતો પણ સમગ્ર સમાજ માટે, એટલે કે સર્વ-સમાવેશી હોય છે. જય વાંકલ ટ્યુશન
                        કલાસીસ એ આદર્શ વિદ્યાર્થીઓની ધરૂવાડી છે. અમે દેશને માત્ર વ્યવસાયિકો જ નહિ, પરંતુ
                        આદર્શ નાગરીકો આપીએ છીએ.
                    </p>
                    <img src="images/signature.png" alt="Mahesh Purohit" title="Mahesh Purohit" width="130" height="25" class="mt-10 mb-15">
                    <div><a asp-area="" asp-controller="Home" asp-action="TeachingMethod" class="btn btn-theme-colored mb-sm-30">અમારી શિક્ષણપદ્ધતિ</a></div>
                </div>
                <div class="col-md-6">
                    <div class="box-hover-effect">
                        <div class="effect-wrapper">
                            <div class="thumb">
                                <img class="img-responsive img-fullwidth" src="images/photos/mahesh-purohit.jpg" alt="Mahesh Purohit" width="560" height="360" title="Mahesh Purohit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="courses" class="bg-silver-deep">
    <div class="container pb-40">
        <div class="section-title">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-uppercase title">અમારે ત્યાં ચાલતાં <span class="text-theme-colored2">કોર્સીસ</span></h2>
                    <p class="text-uppercase mb-0">
                        અમારી પાસે ભણતા વિદ્યાર્થીનું અમારી સંસ્થા સાથે એક સામંજસ્ય બંધાઈ જાય છે. અમારા જ્ઞાનલક્ષી કલ્ચરમાં ઘડાયેલાં બાળકે
                        અભ્યાસમાં આગળ વધતાં અમારી શૈક્ષણિક સંસ્થાને છોડીબીજે ક્યાંય જવું ના પડે તે હેતુથી અમારે ત્યાં ધોરણ 1 થી માંડીને B. Com.
                        સુધીનું અને કમ્પ્યુટર કલાસીસ સુધીનું શિક્ષણ આપવામાં આવે છે.
                    </p>
                    <div class="double-line-bottom-theme-colored-2"></div>
                </div>
            </div>
        </div>
        <div class="row mtli-row-clearfix">
            <div class="owl-carousel-3col" data-nav="true">
                <div class="item">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/std-1-8.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a asp-area="" asp-controller="Home" asp-action="Courses" ><h4 class="mt-0 mb-5 text-theme-colored">ધોરણ <span class="text-english">1</span> થી <span class="text-english">8</span></h4></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                પ્રાથમિક ધોરણો એટલે કે બાલમંદિર અને ધોરણ <span class="text-english">
                                    1
                                </span> થી <span class="text-english">
                                    8
                                </span> માં અભ્યાસક્રમના
                                તમામ વિષયો
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/std-9-10.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a asp-area="" asp-controller="Home" asp-action="Courses" ><h4 class="mt-0 mb-5 text-theme-colored">ધોરણ <span class="text-english">9</span> અને <span class="text-english">10</span></h4></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                ધોરણ <span class="text-english">
                                    9
                                </span> અને <span class="text-english">
                                    10
                                </span> માં મુખ્ય વિષયો ગણિત, વિજ્ઞાન, અંગ્રેજી
                                અને સમાજશાસ્ત્ર તેમજ ગુજરાતી અને સંસ્કૃત વ્યાકરણ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/std-11-12.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a asp-area="" asp-controller="Home" asp-action="Courses" ><h4 class="mt-0 mb-5 text-theme-colored">ધોરણ <span class="text-english">11</span> અને <span class="text-english">12</span></h4></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                ધોરણ <span class="text-english">
                                    11
                                </span> અને <span class="text-english">
                                    12
                                </span> કોમર્સના મુખ્ય વિષયો: વાણિજ્ય વ્યવસ્થા,
                                અર્થશાસ્ત્ર, નામાનાં મૂળતત્વો, આંકડાશાસ્ત્ર અને અંગ્રેજી
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/b-com.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a asp-area="" asp-controller="Home" asp-action="Courses" ><h4 class="mt-0 mb-5 text-theme-colored"><span class="text-english">B. Com. (ENG &amp; GUJ MEDIUM)</span></h4></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                B. Com. ત્રણેય વર્ષો (ઇંગ્લિશ અને ગુજરાતી મીડિયમ)  માટે
                                નામાનાં મૂળતત્વો (<span class="text-english">Accounts</span>), આંકડાશાસ્ત્ર (<span class="text-english">Statistics</span>) અને
                                <span class="text-english">English</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/computer-classes.jpg">
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a asp-area="" asp-controller="Home" asp-action="Courses" ><h4 class="mt-0 mb-5 text-theme-colored">કમ્પ્યુટર કલાસીસ</h4></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                અત્યાધુનિક કમ્પ્યુટર લેબમાં <span class="text-english">Tally</span>, <span class="text-english">CCC</span> (સરકાર માન્ય), ઈન્ટરનેટ અને સોશિયલ મીડિયાનું
                                પાયાથી શિક્ષણ
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="course-single-item bg-white border-1px clearfix mb-30">
                        <div class="course-thumb">
                            <img class="img-fullwidth" alt="" width="360" height="240" src="/images/course/vacation-batch.jpg">
                            <div class="price-tag">Free</div>
                        </div>
                        <div class="course-details clearfix p-20 pt-15">
                            <div class="course-top-part pull-left mr-40">
                                <a asp-area="" asp-controller="Home" asp-action="Courses" ><h4 class=" text-theme-colored mt-0 mb-5">ફ્રી વેકેશન બેચ</h4></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="course-description mt-5">
                                દર વર્ષે વેકેશનમાં ધો. <span class="text-english">10</span> માટે <span class="text-english">Basic Mathematics</span> અને <span class="text-english">B. Com.</span> માટે <span class="text-english">Basic Accountancy</span> ની ફ્રી વેકેશન બેચ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="parallax layer-overlay overlay-theme-colored-9" data-bg-img="images/bg/bg2.jpg" data-parallax-ratio="0.4">
    <div class="container pt-70 pb-90">
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
                    <div class="funfact text-center">
                        <div class="odometer-animate-number text-white text-english font-weight-600 font-48" data-value="14" data-theme="minimal">0</div>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                        <h5 class="text-white text-uppercase mb-0">વર્ષોનો બહોળો અનુભવ</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
                    <div class="funfact text-center">
                        <div class="odometer-animate-number text-white  text-english font-weight-600 font-48" data-value="3000" data-theme="minimal">0</div>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                        <h5 class="text-white text-uppercase mb-0">સ્ક્વેર ફીટમાં પથરાયેલું કલાસીસ</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
                    <div class="funfact text-center">
                        <div class="odometer-animate-number text-white  text-english font-weight-600 font-48" data-value="3000" data-theme="minimal">0</div>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                        <h5 class="text-white text-uppercase mb-0">વિદ્યાર્થીઓનું ઘડતર</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 mb-md-0">
                    <div class="funfact text-center">
                        <div class="odometer-animate-number text-white  text-english font-weight-600 font-48" data-value="1200" data-theme="minimal">0</div>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                        <h5 class="text-white text-uppercase mb-0">પુસ્તકો ધરાવતી વિશાળ લાયબ્રેરી</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 mb-md-0">
                    <div class="funfact text-center">
                        <div class="odometer-animate-number text-white  text-english font-weight-600 font-48" data-value="850" data-theme="minimal">0</div>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                        <h5 class="text-white text-uppercase mb-0">હાલમાં ભણી રહેલાં વિદ્યાર્થીઓ</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 mb-md-0">
                    <div class="funfact text-center">
                        <div class="odometer-animate-number text-white  text-english font-weight-600 font-48" data-value="12" data-theme="minimal">0</div>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
                        <h5 class="text-white text-uppercase mb-0">શિક્ષકો દ્વારા કાર્યરત</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

