@{
    ViewData["Title"] = "Teaching Methods";
}


<div class="main-content">
    <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg/bg3.jpg">
        <div class="container pt-120 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-theme-colored2 font-36">શિક્ષણપદ્ધતિ</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">હોમપેજ</a></li>
                            <li class="active">શિક્ષણપદ્ધતિ</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container pt-70 pb-40">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase mt-0"><span class="text-theme-colored2">शिक्षा स्यात समुन्नति:</span></h3>
                        <div class="double-line-bottom-theme-colored-2"></div>
                        <p class="mt-20">
                            शिक्षा स्यात समुन्नति: અર્થાત્ "શિક્ષણ જ પ્રગતિ છે" એ માત્ર અમારું સ્લોગન જ નહિ, પરંતુ અમારી ફિલસૂફી પણ છે. જય વાંકલ ટ્યુશન કલાસીસમાં નિગનાત્મક અને આગમનાત્મક શિક્ષા પદ્ધતિ (<span class="text-english">Deductive as well as Inductive Teaching Methodologies</span>)
                            પર વિશેષ ભાર મૂકવામાં આવે છે, કે જેમાં બાળકને પ્રોબ્લમનું સોલ્યુશન આપવાના બદલે પ્રોબ્લમનું સોલ્યુશન શોધવાની રીતો જાતે વિકસિત કરતાં શીખવાડવામાં આવે છે. અમારા વિદ્યાર્થીઓ માત્ર પરીક્ષાઓમાં જ નહિ, પરંતુ પરીક્ષાઓમાં
                            ઝળહળતી સફળતાઓ હાંસલ કાર્ય બાદ વ્યવસાયિક જીવનમાં આવતા પડકારોનો પણ સામનો કરી શકે એ રીતે તૈયાર થાય છે.
                        </p>
                        <blockquote class="text-english">
                            <p class="font-16 font-weight-300">
                                There is no end to education. It is not that you read a book, pass an examination, and finish with education. The whole of life, from the moment you are born to the moment you die, is a process of learning.
                            </p>
                            <footer>Jiddu Krishnamurti</footer>
                        </blockquote>
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-uppercase mt-0"><span class="text-theme-colored2">જય વાંકલ</span> એટલે <span class="text-english text-uppercase">Innovation</span> </h3>
                        <div class="double-line-bottom-theme-colored-2"></div>
                        <p>
                            શિક્ષાવ્યવસ્થાનો પાયો મુખ્યત્વે <span class="text-english">3</span> બાબતો પર ટકેલો છે.
                            <span class="text-english">(1)</span> વિદ્યાર્થીઓ, <span class="text-english">(2)</span> વાલીઓ અને
                            <span class="text-english">(3)</span> શિક્ષકો. આ ત્રણેયને આજે અનેક પડકારોનો સામનો કરવો પડી રહ્યો છે.
                        </p>
                        <p>
                            કટ્ટર પ્રતિસ્પર્ધાના જમાનામાં આજના વિદ્યાર્થીઓને પોતાની ઉચ્ચ કારકિર્દીના નિર્માણ માટે જરૂરી છે પરીક્ષાઓમાં સારા માર્ક્સ અને માર્ક્સ માટે જરૂરી છે વિવિધ વિષયો ઉપર ઊંડાણપૂર્વક સમાજ. જ્યાં સુધી વિદ્યાર્થી કોઈ ટોપિકને સમજશે નહિ, ત્યાં સુધી પરીક્ષામાં લખશે
                            શું? છેલ્લે નાછૂટકે વિદ્યાર્થી ગોખણપટ્ટી કરે છે, જે ના તો એને પરીક્ષામાં સારા માર્ક્સ અપાવે છે કે નાં તો સારી કારકિર્દી બનાવવામાં મદદરૂપ થાય છે.
                        </p>
                        <p>
                            વાલીઓની સમસ્યા એ છે કે તેઓ પોતાના બાળકોને સારું ભણાવવા તો માગે છે પરંતુ સ્કૂલોમાં મળતાં એજયુકેશનથી તેમના બાળકોને મળતાં પરિણામો સંતોષજનક નથી. શિક્ષકોના માથે સ્કૂલોમાં ઘણીબધી જવાબદારીઓ હોય છે અને તેઓને કોર્સ પૂરો કરવાનો પણ સમય મળતો નથી ત્યાં પ્રત્યેક વિદ્યાર્થી
                            પાછળ વ્યક્તિગત સમય ક્યાંથી ફાળવી શકે?
                        </p>
                        <p>
                            એટલે જ જરૂર છે ટ્યુશન કલાસીસની અને ટ્યુશન કલાસીસ પણ જેવું-તેવું નહિ, પરંતુ એવું કે જ્યાં <span class="text-english">INNOVATION</span> ને મહત્વ અપાય. જ્યાં વિદ્યાર્થીને ગોખણપટ્ટી કે શોર્ટકટ્સનો ઉપયોગ નહિ, પરંતુ તેની
                            પ્રોબ્લેમ સોલ્વિંગ સ્કિલ્સ ખીલવવામાં આવે. વિદ્યાર્થીની છૂપી શક્તિઓને ઓળખી તેને બહાર લાવવામાં આવે. જ્યાં દરેક વિદ્યાર્થી પર વ્યક્તિગત ધ્યાન આપીને દરેક ટોપિક ઊંડાણપૂર્વક શીખવાડી રિઝલ્ટ્સ લાવવામાં આવે અને એની કારકિર્દીનું
                            ઘડતર કરવામાં આવે.
                        </p>
                        <p>
                            આથી જ જય વાંકલ ટ્યુશન કલાસીસ એ શિક્ષાના ક્ષેત્રમાં વિવિધ લાવી <span class="text-english">INNOVATIVE CONCEPTS</span> રહ્યું છે.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
