@{
    ViewData["Title"] = "Testimonials";
}

<div class="main-content">
    <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg/bg3.jpg">
        <div class="container pt-120 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-theme-colored2 font-36">ટેસ્ટિમોનિઅલ્સ</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="/">હોમપેજ</a></li>
                            <li class="active">ટેસ્ટિમોનિઅલ્સ</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            એક શિક્ષકની સફળતા એમાં નથી કે તે કેટલા વિદ્યાર્થીઓને ભણાવે છે. એક શિક્ષકની સફળતા એમાં છે કે તે એના વિદ્યાર્થીઓને કેવું ભણાવે છે અને તેના વિદ્યાર્થીઓ કેવી કારકિર્દી બનાવે છે. દેશ પણ ત્યારે જ પ્રગતિ કરે કે જયારે દેશના વિદ્યાર્થીઓ પ્રગતિ કરે અને વિદ્યાર્થીઓની
                            પ્રગતિ માટે જરૂરી છે એમની ઉચ્ચ કારકિર્દી. પોતાની ભવ્ય કારકિર્દી તરફ કૂચ કરી રહેલા અને ઉત્તરોત્તર પ્રગતિ સાધી રહેલાં અમારા અનેક ઉજ્જવલ વિદ્યાર્થીઓ પોતપોતાના ક્ષેત્રમાં અમારી સંસ્થાનું નામ રોશન કરી રહ્યાં છે.
                        </p>
                    </div>
                </div>
                <h3 class="text-uppercase title"><span class="text-english">Testimonials</span> <span class="text-theme-colored2">ટેસ્ટિમોનિયલ્સ</span></h3>
                <div class="double-line-bottom-theme-colored-2"></div>

                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/rcpatel.jpg" class="img-responsive" />
                        <p class="mt-10">
                            શ્રી મહેશભાઈ પુરોહિત દ્વારા સંચાલિત "જય વાંકલ ટ્યુશન કલાસીસ" માત્ર પરીક્ષા પૂરતું અભ્યાસક્રમ જ નથી ચલાવતું, પરંતુ વિદ્યાર્થીઓમાં ભારતીય સંસ્કૃતિ પ્રત્યે ગૌરવ, દેશભક્તિ અને રાષ્ટ્રવાદ જેવા સદ્ગુણોને પણ ખીલવે છે.
                        </p>
                        <p>
                            જનતાના પ્રતિનિધિ તરીકે મારા નવસારી જિલ્લામાં સ્થિત જય વાંકલ ટ્યુશન કલાસીસ પ્રત્યે મને ગર્વ છે. મહેશભાઈના આ સુંદર પ્રયત્નોને હું બિરદાવું છું. તેમજ તેમનું ટ્યુશન કલાસીસ ઉત્તરોત્તર પ્રગતિ કરે અને એનો લાભ વધુમાં વધુ વિદ્યાર્થીઓને મળે એ શુભેચ્છાઓ સાથે,
                        </p>
                        <p>
                            શ્રી આર. સી. પટેલ <br /> ધારાસભ્ય, <span class="text-english">174</span> &ndash; જલાલપોર મત વિસ્તાર <br /> નાયબ મુખ્ય દંડક, ગુજરાત વિધાનસભા
                        </p>
                    </div>

                    <div class="col-md-6">
                        <div class="widget">
                            <div class1="owl-carousel-1col testimonial-widget-carousel">
                                <div class="item">
                                    <img class="pull-right" src="/images/ramesh-joshi.png" width="75" height="75" alt="Ramesh Joshi" title="Ramesh Joshi">
                                    <blockquote class="pt-0 mt-0 pl-10">
                                        <p class="font-15">
                                            જય વાંકલ ટ્યુશન કલાસીસ જેવી સંસ્થાઓ એ નવસારી જેવા વિસ્તારો કે જ્યાં વિદ્યાર્થીઓની સંખ્યાના પ્રમાણમાં સારી શૈક્ષણિક સંસ્થાઓ ઉપલબ્ધ નથી, તેમને માટે વરદાન સમાન છે.
                                        </p>
                                        <footer>રમેશ જોશી <cite title="ચીફ ઓફિસર, નવસારી નગરપાલિકા">(ચીફ ઓફિસર, નવસારી નગરપાલિકા)</cite></footer>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <img class="pull-right" src="/images/n-r-prajapati.png" width="75" height="75" alt="N R Prajapati" title="N R Prajapati">
                                    <blockquote class="pt-0 pl-10">
                                        <p class="font-15">
                                            જય વાંકલ ટ્યુશન કલાસીસ આજના વિદ્યાર્થીઓને માત્ર માર્ક્સ લાવતાં નથી શીખવાડી રહ્યું. એ બાળકોને લોકતંત્રમાં એમની જવાબદારીનું ભાન પણ કરાવી રહ્યું છે.
                                        </p>
                                        <footer>એન. આર. પ્રજાપતિ <cite title="ડેપ્યુટી કલેકટર નવસારી">(ડેપ્યુટી કલેકટર નવસારી)</cite></footer>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <img class="pull-right" src="/images/dinesh-purohit.png" width="75" height="75" alt="Dinesh Purohit" title="Dinesh Purohit">
                                    <blockquote class="pt-0 pl-10">
                                        <p class="font-15">
                                            જય વાંકલ ટ્યુશન કલાસીસનો વિદ્યાર્થીઓ સાથેનો નાતો માત્ર શૈક્ષણિક હેતુ પૂરતો જ નહિ બલકે વિદ્યાર્થીઓના સર્વાંગી વિકાસમાં સહભાગી બની તેઓને સફળ બનાવવા સુધીનો રહ્યો છે.
                                        </p>
                                        <footer>દિનેશભાઈ પુરોહિત <cite title="રેવન્યુ તલાટી, સુરત">(રેવન્યુ તલાટી, સુરત)</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="bg-silver-deep">
        <div class="container pb-40">
            <div class="section-title">
                <h3 class="text-uppercase title">અમારાં <span class="text-theme-colored2">ભૂતપૂર્વ વિદ્યાર્થીઓના </span>અનુભવો</h3>
                <div class="double-line-bottom-theme-colored-2"></div>

                <div class="row">
                    <div class="col-md-12 mb-30">
                        <div class="owl-carousel-2col boxed" data-dots="true">
                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/shah-damin-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            The way Maheshbhai taught us, it made us understand the concepts deeply and we learnt solving complex problems quickly and easily. All credit goes to Maheshbhai who helped me score good marks since school days.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Shah Damin</h5>
                                        <h6 class="text-uppercase mt-0">CA Student</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/disha-purohit-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            મહેશભાઈના સંપર્કમાં હું છેલ્લા દસેક વર્ષથી છું. બાળકના સર્વાંગી વિકાસ માટે સૌથી શ્રેષ્ઠ કહી શકાય એવું શિક્ષણ મને જય વાંકલ ટ્યુશન કલાસીસમાંથી મળ્યું છે અને આજે હું જે કંઈપણ ચુ ત્યાં સુધી મને પહોંચાડવામાં એમનો ઘણો મોટો ફાળો છે.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Disha Purohit</h5>
                                        <h6 class="text-uppercase mt-0">BHMS Intern</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/janki-badhera-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            I like how you keep students motivated and put efforts to help students solve their difficulties. You increased the self-confidence in students that plays a major role in building their career. I like the most how you teach mathematics.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Janki Badhera</h5>
                                        <h6 class="text-uppercase mt-0">Doctor (BDS)</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/arvind-purohit-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            મહેશભાઈ ભણાવવાની સાથે સાથે અમને જનરલ નોલેજ પણ આપતાં અને અમારામાં આત્મવિશ્વાસ પણ જગાડતાં જેથી અમે વધુ ને વધુ મહેનત કરતાં. મહેશભાઈના ટ્યુશનના કારણે જ મારા ધોરણ-12 માં 80% આવ્યા હતાં. મહેશભાઈએ જ મને રોજગાર પણ અપાવ્યું હતું.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Arvind Purohit</h5>
                                        <h6 class="text-uppercase mt-0">Police Constable, Navsari</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/shobhit-varshney-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            In Jay Vankal Tuition Classes, I didn't only learn the academia but also the life-living skills. I heartily thank to Mr. Mahesh Purohit sir for counselling me in not only academia but in life perspective as well.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Shobhit Varshney</h5>
                                        <h6 class="text-uppercase mt-0">Masters in ME, Gold Medalist in Specialization of Refrigeration</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/sandeep-mahajan-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            મહેશભાઈ દ્વારા સિલેબસ ઉપરાંત ઈતર સામાન્ય જ્ઞાન વિષે રોજેરોજ સમજણ આપવામાં આવતી જે સમય જતાં મને ખૂબ ઉપયોગી થયેલ. સર અથવા સાહેબ ને બદલે મહેશભાઈ તરીકે ઓળખાવાનું પસંદ કરતા મહેશભાઈ અને તેમના ટ્યુશન ક્લાસનો ફાળો હું આજે જે કંઈપણ છું તેમાં વિશેષ છે.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Sandip Mahajan</h5>
                                        <h6 class="text-uppercase mt-0">PSI, Gujarat</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/girish-raygor-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            I won't address Maheshbhai as teacher rather I'd say he is a mentor for us. In 11th and 12th he was very enthusiastic while teaching us and he encouraged us to be curious. The best thing about 'Jay Vankal Tuition Classes' is that they connect with students.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Girish Raygor</h5>
                                        <h6 class="text-uppercase mt-0">Chartered Accountant</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0">
                                        <img class="img-thumbnail img-circle" alt="" src="/images/testimonials/kunjan-patel-min-min.png" width="110" height="110">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4 class="mt-0 font-weight-300 font-15">
                                            મારા કુટુંબીજનો મારી કારકિર્દીને લઈને ખૂબ ચિંતામાં રહેતાં. મને લાગતું કે હું સમગ્ર જીવન મારા કુટુંબીજનો પર એક બોજારૂપ બનીને રહીશ. પરંતુ માત્ર મહેશભાઈ અને જય વાંકલ ટ્યુશન કલાસીસને લીધે આજે હું મારા કુટુંબને અડીખમ ઊભું રાખવા જેટલો સમર્થ બન્યો છું.
                                        </h4>
                                        <h5 class="mt-10 font-16 mb-0 text-uppercase text-theme-colored">Kunjan Patel</h5>
                                        <h6 class="text-uppercase mt-0">Unarmed Police Constable, Navsari</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
